.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 12px 40px;
  width: 95%;
  max-width: 1400px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  z-index: 1000;
  transition: transform 0.3s ease;
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.allmenu-page .nav-container {
  transform: translateX(calc(-59% + 90px));
}

.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  animation: flot-2 2s ease 1;
}

.nav-item {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

@keyframes flot-2 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

.nav-item:hover {
  color: #ff6347;
  transition: color 0.3s ease;
}

.logo {
  height: 45px;
  border-radius: 380px;
  animation: flot 2s ease 1;
  background-color: #ff6347;
}

@keyframes flot {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translate(0);
    opacity: 1;
  }
}

.logo-name {
  color: red;
  font-size: 1.5rem;
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: black;
  }

  .nav-items {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    background: white;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;

    display: none;
    animation: slideDown 0.3s ease;
  }
  .nav-item {
    margin-left: 10px;
    animation: folat-1 1s ease-out 1 forwards;
    transition: transform 200ms ease;
  }

  @keyframes folat-1 {
    from {
      transform: translateY(100%);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .nav-items.active {
    display: flex;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.nav-container {
  backdrop-filter: blur(10px);
}

/* Cart Icon */
.cart-icon {
  position: relative;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: red;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #ff4d4d;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

.allmenu-page .nav-container {
  left: calc(50% + 110px);
}

.login-btn {
  margin-left: 15px;
  padding: 6px 14px;
  border: none;
  background: #ff4d4f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.login-btn:hover {
  background: #e63946;
}
