.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.auth-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
}

.auth-box h2 {
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ff4d4f;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.auth-box button:hover {
  background: #e63946;
}

.toggle-text {
  margin-top: 15px;
  font-size: 14px;
}

.toggle-text span {
  color: #ff4d4f;
  cursor: pointer;
  font-weight: bold;
}

.user-name {
  color: black;
  font-family: "Roboto";
  font-weight: bold;
}
